<div class="comtainer-md">
  
    <div class="bg-image" 
      style="background-image: url(../website/assets/img/bg.jpg);
             height: 80vh; background-position: 100% 100% ;">
     <div class="row align-items-center mx-2 ">
       <div style="height: 90px"></div>       
             <div class="bg-white d-flex justify-content-center";>
             <span id="encb1"><strong>One Page Wonder</strong></span>
           </div>
             <div style="height: 25px;"></div>
             <div class="bg-white  d-flex justify-content-center align-items-center">
               <span id="encb2">Will Knock Your Socks Off</span>
             </div>
     
   </div>
 </div>
 </div>